################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Candea.Common.Logging.Log4Net
/Candea.Common.Logging.Log4Net/.vs/Candea.Common.Logging.Log4Net
/Candea.Common.Logging.Log4Net/bin/Debug
/Candea.Common.Logging.Log4Net/obj
