<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Sample app settings to be used in conjunction with this implementation of the logging facility-->
  <appSettings>
    <!--<add key="Mef.AssembliesPath" value="C:\DEV\MI\SharedLibs\Candea.Common.Logging.Log4Net\bin\Debug"/>-->
    <add key="Logging.Header" value="~~~~ Default Logging Framework ~~~"/>
    <add key="Logging.ConfigFilePath" value="log4net.config"/>
    <add key="Logging.RunOnSeparateThread" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
